{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container mt-3 p-3 shadow rounded" style="max-width: 600px; padding: 20px; border-radius: 10px;">
    <h2 class="text-center text-uppercase">Register</h2>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form | crispy }}
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-success">
        </div>
        {% include 'alerts.html' %}
    </form>
</div>
{% endblock content %}